body {
          font-family: 'Poppins', sans-serif;
          margin: 0;
}

.top-banner {
          background-image: url(images/donation_pic3.jpg);
          background-repeat: no-repeat;
          background-size: cover;

}

.top-section {
          text-align: center;
          padding-bottom: 10%;
}

.top-section h1 {
          font-size: 45px;
          color: white;
          padding-top: 7%;

}

.top-section p {
          font-size: 18px;
          color: white;
          padding-left: 10%;
          padding-right: 10%;
          margin-bottom: 2%;

}

.donate-btn {
          text-decoration: none;
          color: white;
          background-image: linear-gradient(tomato, orange);
          padding: 8px 10px;
          font-weight: bold;
          border-radius: 10px;
          text-align: center;


}

.donate-section {
          text-align: center;
          padding-top: 3%;

}

.donate-text-part h1 {
          font-size: 40px;
}

.donate-paragraph {
          font-size: 18px;
          padding-left: 10%;
          padding-right: 10%;
}

.donate-amount {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10%;
          margin-right: 10%;

}

h4 {
          background-color: rgb(204, 205, 207);
          border-radius: 5px;
          padding: 4%;
          margin-left: 5%;
          font-size: 28px;
          color: rgb(32, 30, 30);
          font-weight: bold;

}

.amount-taka {
          font-size: 22px;
          color: rgb(97, 93, 93);
}

.horizontal-line {
          margin-left: 20%;
          margin-right: 20%;
          margin-bottom: 2%;
}

.donation-plan-section {
          padding: 5%;
          text-align: center;



}

#donation-plan-heading {
          font-size: 40px;



}

.donation-plan-part {
          display: flex;
          padding-top: 5%;



}

#food-part {
          background-color: rgb(192, 248, 248);
          border-radius: 10px;
          box-shadow: 8px 10px 25px rgb(48, 51, 54);
          padding-top: 5%;
          margin-left: 5%;

}

#shelter-part {
          background-color: rgb(228, 171, 150);
          border-radius: 10px;
          box-shadow: 8px 10px 25px rgb(48, 51, 54);
          padding-top: 5%;
          margin-left: 5%;

}

#education-part {
          background-color: rgb(238, 151, 101);
          border-radius: 10px;
          box-shadow: 8px 10px 25px rgb(48, 51, 54);
          padding-top: 5%;
          margin-left: 5%;

}

.appreciate-section {
          text-align: center;
          margin-top: 5%;
          margin-bottom: 5%;

}

.appreciate-section h2 {
          font-size: 30px;
}

.appreciate-section-part {
          display: flex;
          margin-left: 5%;
          margin-right: 5%;
          padding: 3%;


}



.appreciate-section-part img {
          width: 50%;
}

.appreciate-text p {
          margin-left: 10%;
          text-align: justify;
          font-size: 16px;
          padding-bottom: 3%;


}

#contribute-btn {
          padding: 10px 20px;
          margin-right: 50%;


}

.info-section {
          text-align: center;
          padding-bottom: 5%;
}

.info-section h2 {
          font-size: 40px;
}

.info-section p {
          font-size: 18px;
          font-weight: bold;

}

.input-area {
          background-color: rgb(241, 118, 118);
          margin-left: 25%;
          margin-right: 25%;
          padding: 5%;


}

.input-field {

          padding: 1%;
          background-color: bisque;
          font-size: medium;

}

footer {
          background-color: black;
          width: vh;
          padding-bottom: 2%;
          color: white;
          text-align: center;
          padding-top: 2%;

}

h5 {
          font-size: 20px;
          margin-bottom: 0px;
}